source https://www.nuget.org/api/v2
storage: none

nuget FSharp.Core redirects:force, content:none
nuget Giraffe >= 6.0 prerelease lowest_matching:true
nuget Thoth.Json.Net ~> 5
nuget Expecto
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.NET.Test.Sdk
nuget YoloDev.Expecto.TestSdk
